h1 {
  color: black; 
  text-align: left;
}

.titre {
  text-align: left;
  
}

.container{
  margin-top: 15vh;
  margin-left: 50px;
  display: flex;
  gap: 3vh;
  justify-content: flex-start;
  flex-flow: column wrap;
  width: 40%;

}
.header{
  display: flex;
  gap: 2vh;
  justify-content: center;
  flex-flow: column wrap;
  width: 50%;
  color: black;
}

* {
  margin:0;
  text-decoration: none;
  list-style: none;
  color: black;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;700&display=swap');


.pneu{
  display: flex;
  margin-top: 20px;
  gap: 3vh;
}

.image{
  display: flex;
  height: 200px;
  width: 200px;
  box-shadow: black;
  }
.column{
  display: flex;
  flex-flow: column;
  text-align: start;
  justify-content: flex-end;
  justify-content: space-around;
}
.remove{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  text-decoration: underline;
  
}
.information{
  display: flex;
  margin-top: 100px;
  margin-left: 50px;
  flex-flow: column;
}
.grey{
  color:grey;
  margin-top: 20px;
  margin-bottom: 10px;
}
.moins{
  display: flex;
  margin-bottom: 20px;
}
.space{
  display: flex;
  margin-top: 100px;
}
.grosse{
  display: flex;
  /*justify-content: space-around;*/
  align-items: flex-start;
  flex-wrap: wrap;
}
input{
  width: 400px;
  height: 25px;
}
.spaceB{
  display: flex;
  justify-content: space-between;
}
.containerDroite{
  margin: 5vh;
  margin-top: 15vh;
  display: flex;
  gap: 10px;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: column;
  width: 50%;
}
.containerPanier1{
  display: flex;
  width: 100%;
}
.containerPanier{
  display: flex;
  width: 250px;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
  
}
.size{
  width: 500px;
}
.end{
  display: flex;
  align-items: flex-end;
}
.space{
  display: flex;
  justify-content: space-between;
}
.containerPanierDroite{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  width: 250px;
  height: 100px;
}
.sousPanier{
  display: flex;
  flex-wrap: wrap;
}
.boutonPanier{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  height: 40px;
  width: 500px; 
  margin-top: 10px;
}
.horizontal{
  display: flex;
  flex-direction: column;
}
@media screen and (max-width:900px){
  .grosse{
    display: flex;
    justify-content: space-around;
    align-items: left;
    flex-direction: column;
  }
.container{
  margin-top: 15vh;
  display: flex;
  gap: 3vh;
  justify-content: space-around;
  flex-flow: column wrap;
  width: 80%;
}
.containerDroite{
  margin-top: 15vh;
  display: flex;
  gap: 10px;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: column;
  width: 80%;
  margin-left: 50px;
}
.containerPanier{
  display: flex;
  width: 40%;
  flex-direction: column;
  justify-content: space-between;
  height: 100PX;
}
.containerPanierDroite{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  width: 40%;
  height: 100PX;
}
.information{
  display: flex;
  margin-top: 100px;
  flex-flow: column;
  width: 80%;
}
.boutonPanier{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  height: 30px;
  width: 80%;
  
}
.size{
  width: 80%;
}
}

@media screen and (max-width:780px){
  .grosse{
    align-items: flex-start;
    width: 100%;
  }
  .container{
    margin-top: 15vh;
    display: flex;
    gap: 3vh;
    justify-content: space-around;
    flex-flow: column wrap;
    width: 90%;
    margin-left: 50px;
  }
  .containerDroite{
    margin-top: 15vh;
    display: flex;
    gap: 10px;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    margin-left: 50px;
  }
  .information{
    display: flex;
    margin-top: 100px;
    margin-left: 50px;
    width: 80%;
    flex-flow: column;

  }
}