.container{
    margin-top: 57px;
    display: flex;
    flex-flow: row wrap;
}

.haut{
    margin-left: 7%;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-right: 10%;
}

.gauche{
    margin-left: 7%;
    flex-direction: column wrap;
    width: 25%;
}

.droite{
    margin-top: 3%;
    width: 58%;
}

.barre-shop{
    background-color: #1a1a1a;
    width: 100%;
    margin-top: 10px
}

.barre-shop-title{
    margin-top: 50px;
    margin-left: 8%;
    font-size: 72px;
    font-weight: 500;
    color: white;
}

.barre-shop-text{
    margin-top: 16px;
    margin-left: 8%;
    margin-bottom: 50px;
    width: 40%;
    font-size: 28px;
    line-height: 1.5em;
    text-align: justify;
    color: white;
}

.filtres{
    margin-bottom: 30px;
}

.filtres-header{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    align-items: baseline;
}

.filtres-header-title{
    color: black;
    font-size: 56px;
    font-weight: 500;
}

.filtres-clear{
    color: lightgray;
    font-size: 26px;
    text-decoration: underline;
    margin-left: 20px;
}

.filtres-clear:hover{
    color: rgb(186, 186, 186);
}

.filtres-title{
    color: black;
    font-size: 30px;
    font-weight: 800;
}

.filtres-content{
    margin-top: 14px;
}

.filtres-box{
    margin-top: 12px;
    color: black;
    font-size: 26px;
}

.sort{
    margin-top: -42px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.sort-box{
    white-space: nowrap;
    padding: 12px 15px;
    display: flex;
    border: solid medium black;
}

.sort-box-text{
    flex-wrap: nowrap;
    color: rgb(163, 160, 160);
    font-size: 25px;
}

.sort-box-list{
    margin-left: 6%;
}

.select{
    color: black;
    font-size: 24px;
    margin-right: 5px;
}

.sort-text{
    margin-top: 10px;
    color: black;
    font-size: 25px;
}

.products-cards{
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    width: 100%;
}

.card{
    width: fit-content;
    margin-top: 10px;
    margin-bottom: 10px;
}

.img-card{
    width: 300px;
}

.card-body{
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
}

.card-content{
    margin-top: 5px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.card-body-title{
    color: black;
    font-weight: 700;
    font-size: 25px;
}

.card-body-price{
    margin-top: 5px;
    color: black;
    font-size: 20px;
}

.card-body-option{
    color: black;
    font-size: medium;
    font-size: 20px;
}

.load-more-button{
    display: flex;
    justify-content: center;
    width: 100%;
}

.button{
    margin-top: 4%;
    background-color: white;
    color: black;
    font-size: 24px;
    font-weight: bold;
    padding: 15px 70px;
    border: 2px solid black;
}

.button:hover{
    color:white;
    background-color:#1a1a1a;
}

@media (max-width: 1200px) {

    .card{
        margin-left: 68px;
    }
}


@media screen and (max-width:780px){

    .barre-shop{
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        background-color: white;
        width: 100%;
        margin-top: 10px;
    }
    
    .barre-shop-title{
        margin-top: 30px;
        margin-left: 10%;
        margin-right: 10%;
        font-size: 40px;
        font-weight: 600;
        color: black;
        text-align: center;
    }
    
    .barre-shop-text{
        width: 84%;
        display: flex;
        justify-content: center;
        margin-top: 16px;
        margin-bottom: 50px;
        font-size: 20px;
        line-height: 1.5em;
        color: rgba(211, 211, 211, 0.848);
        text-align: center;
    }
}