* {
    margin:0;
    padding:0;
    text-decoration: none;
    list-style: none;
    color: #f4f4f4
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;700&display=swap');

body { 
    display: flex;
    align-items: column;
    flex-wrap: wrap;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    background-color: #f4f4f4;
 
}

.navbar{
    padding-top: 2px;
    padding-bottom: 2px;
    align-items: center;
    display: flex;
    width: 100%;
    box-sizing: border-box;
    background-color: #1a1a1a;
    position: fixed;
    top: 0; 
    left: 0; 
    z-index: 9999
    
}

.formulaire input{
    align-items: center;
    position: relative;
    width: 400px;
    height: 30px;
    color: #1a1a1a;
}

.panier{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 10%;
    margin-right: 200px;
}

.panier ul li{
    display: flex;
    margin: 0;
    align-items: center;
}

.nav-items{
    width: 100%;
    margin-left: 200px;
}

.items{
    width: 90%;
}


.navbar ul {
    display: flex;


}

.navbar .items ul li {
    margin: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.active {
    font-weight: bold ;
}

.links:after {
    display:block;
    content: '';
    border-bottom: solid 1.5px #f4f4f4;
    transform: scaleX(0);  
    transition: transform 300ms ease-in-out;
  }
  .links:hover:after { transform: scaleX(1); }

@media  screen and (max-width:1520px){

.nav-items{
    margin-left: 0;
}

.panier{
    margin-right: 15px;
}
}

@media  screen and (max-width:1200px){

.navbar {
    flex-direction: column;

      }
.items {
    width: 100%;
}

.navbar ul {
    flex-direction: column;
    align-items: center;
      }

.panier{
    width:100% ;
}


.panier {
    display: flex;
    justify-content: center;
    margin: 0;
}
 

    }

@media screen and (max-width:780px){


    .nav-items ul a{
        display: none;
    }

    .panier{
        display: none;
    }
    /* FFaire menu hamburger*/
}