* {
    margin:0;
    padding:0;
    text-decoration: none;
    list-style: none;
    color: #f4f4f4
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;700&display=swap');

body { 
    display: flex;
    align-items: column;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    background-color: #f4f4f4;
 
}

.navbar{
    display: flex;
    justify-content: center;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 100%;
    box-sizing: border-box;
    background-color: #1a1a1a;
    height: 10vh;
}

.nav-content{
    display: flex;
    width: 80%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.formulaire input{
    align-items: center;
    width: 400px;
    height: 30px;
    color: #1a1a1a;
}

.panier{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
}

.panier ul li{
    display: flex;
    margin: 0;
    align-items: center;
}


.navbar ul {
    display: flex;
}

.navbar .items ul li {
    display: flex;
    align-items: center;
    padding: 20px;
}

.active {
    font-weight: bold ;
}

.links:after {
    display:block;
    content: '';
    border-bottom: solid 1.5px #f4f4f4;
    transform: scaleX(0);  
    transition: transform 300ms ease-in-out;
  }
  .links:hover:after { transform: scaleX(1); }

@media  screen and (max-width:1520px){

}

@media  screen and (max-width:1200px){

.navbar {
    flex-direction: column;

      }
.items {
    width: 100%;
}

.navbar ul {
    flex-direction: column;
    align-items: center;
      }

.panier{
    width:100% ;
}


.panier {
    display: flex;
    justify-content: center;
    margin: 0;
}
 
}

@media screen and (max-width:780px){


    .nav-items ul a{
        display: none;
    }

    .panier{
        display: none;
    }
    /* FFaire menu hamburger*/
}