.container{
    margin-top: 6%;
    display: flex;
    flex-flow: row wrap;
}

.gauche{
    border: solid medium green;
    margin-left: 7%;
    flex-direction: column wrap;
    width: 25%;
}

.droite{
    border: solid medium green;
    width: 55%;
}

.barre-shop{
    border: solid medium red;

    background-color: #1a1a1a;
}

.barre-shop-title{
    margin-top: 50px;
    margin-left: 8%;
    font-size: 40px;
    font-weight: 400;
}

.barre-shop-text{
    margin-top: 16px;
    margin-left: 8%;
    margin-bottom: 50px;
    width: 35%;
    font-size: 20px;
    line-height: 1.5em;
    text-align: justify;
}

.filtres{
    display: flex;
    width: 25%;
}

.filtres-header{
    border: solid medium red;

    display: flex;
    flex-direction: row;
    margin-top: 40px;
    align-items: baseline;
}

.filtres-title{
    color: black;
    font-size: 30px;
    font-weight: 500;
}

.filtres-clear{
    color: lightgray;
    font-size: 20px;
    text-decoration: underline;
    margin-left: 20px;
}

.filtres-categories{
    margin-top: 20px;
}

.filtres-categories-title{
    color: black;
    font-size: 18px;
    font-weight: 800;
}

.filtres-categories-content{
    margin-top: 14px;
}

.filtres-categories-box{
    margin-top: 12px;
    color: black;
    font-size: 18px;
}

.filtres-color{
    margin-top: 20px;
}

.filtres-color-title{
    color: black;
    font-size: 18px;
    font-weight: 800;
}

.filtres-color-content{
    display: flex;
    flex-flow: row wrap;
    margin-top: 10px;
    color: blue;
}

.sort{
    border: solid medium red;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.sort-box{
    display: flex;
    border-style: inherit;
    border-color: black;
    width: 150px;
}

.sort-box-text{
    flex-wrap: nowrap;
    color: lightgray;
}

.sort-box-list{
    margin-left: 6%;
    color:black;
}

.sort-text{
    margin-top: 10px;
    color: black;
    font-size: smaller;
}

.products-cards{
    border: solid medius blue;
}

.card{
    border: solid medium red;
}